SchoolMIPSActel/SchoolMIPSActel/synthesis/
SchoolMIPSActel/SchoolMIPSActel/stimulus/
SchoolMIPSActel/SchoolMIPSActel/designer/
SchoolMIPSActel/SchoolMIPSActel/simulation/
SchoolMIPSActel/SchoolMIPSActel/smartgen/
SchoolMIPSActel/SchoolMIPSActel/SoftConsole/MSS1_MSS_CM3/.metadata/
SchoolMIPSActel/SchoolMIPSActel/SoftConsole/MSS1_MSS_CM3/MSS1_MSS_CM3_hw_platform/Debug/
*.mk